@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
	--bg-color-r: 255;
	--bg-color-g: 255;
	--bg-color-b: 255;
}

body {
	margin: 0;
}

use:nth-child(1) {
	fill: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 0.7);
	x: 48;
	y: 0;
}

use:nth-child(2) {
	fill: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 0.5);
	x: 48;
	y: 3;
}

use:nth-child(3) {
	fill: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 0.3);
	x: 48;
	y: 5;
}

use:nth-child(4) {
	fill: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 1);
	x: 48;
	y: 7;
}

li {
	list-style: none;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 2rem;
	z-index: 1;
}

ul {
	margin: 0;
	padding: 3;
	font-size: 24px;
}

/* Add custom styles for the "sign up" button */
.navbar-item.signup {
  background-color: yellow; /* Change this to the desired background color */
  border-radius: 15px;
}

/* Styling for the link */
.navbar-item.signup a {
  text-decoration: none;
  color: black; /* Change this to the desired text color */
  font-weight: bold;
}

/* Hover effect for the link inside the list item */
.navbar-item.signup a:hover {
  background-color: green; /* Change this to the desired hover color */
  color: white;/* You can also change the text color on hover if you like */
  border-radius: 15px;
}




.navbar-item {
	margin-right: -90px; /* Adjust this value to control the gap between each menu item */
	font-size: 2rem; /* Change this value to adjust the text size */
}


.navbar-item:nth-child(2) {
  margin-right: -120px;
  margin-left: -100px; /* Adjust this value to decrease the gap */
}

.navbar {
	position: relative;
	text-align: left;
	background: linear-gradient(
		60deg,
		rgba(4, 100, 3, 1) 0%,
		rgba(0, 152, 81, 1) 100%
	);
	color: black;
	z-index: 2;
	margin-bottom: 0;
}

.navbar::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		60deg,
		rgba(255, 190, 55, 1) 0%,
		rgba(1, 209, 100, 1) 100%
	);
	opacity: 0;
	transition: 1s;
	overflow: hidden;
}

.navbar:hover::before {
	opacity: 1;
	transition: 1s;
}

.navbar-item::before {
	content: "";
	position: absolute;
	display: block;
	width: 100px;
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.navbar-item:hover::before {
	transform: scaleX(1);
}

.navbar-item {
	position: relative;
}
/* CSS */
.navbar-item a {
  color: #FFBF00; /* Set the default color for the links */
  text-decoration: none; /* Remove underlines from the links */
}

.navbar-item a:hover {
  color: #ff0000; /* Set the color when hovering over the links */
}



.logo {
	width: 50px;
	fill: white;
	padding-right: 15px;
	display: inline-block;
	vertical-align: middle;
}

.navbar-items {
	display: flex;
	justify-content: space-evenly;
	padding-top: 50px;
	padding-bottom: 20px;
	width: 100%;
}



.flex {
	/*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
	z-index: 1;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}


.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
	.content {
		height: 30vh;
	}
	li {
		font-size: 16px;
	}
}


.logo-container {
	position: absolute;
	top: 20px;
	left: 20px;
}

.logo {
	width: 200px;
	fill: white;
	display: inline-block;
	vertical-align: middle;
}
.container {
  max-width: 80%; 
  margin: 0 auto;
  height: 300px;
}


html,
body {
  margin: 0px;
  padding: 0px;
  background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}



.carousel {
  position: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: -100px;
}


.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  width: 100%;
  max-height: 100%; /* Adjust this value to set the maximum height of the slider image */
  overflow: hidden;
}

.carousel-item img {
  display: block;
  height: 400px;
  width: 100%;
   /* Add this line to make the image fit without getting cropped */
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet,
  #carousel-4:checked
  ~ .control-4
  ~ .carousel-indicators
  li:nth-child(4)
  .carousel-bullet,
  #carousel-5:checked
  ~ .control-5
  ~ .carousel-indicators
  li:nth-child(5)
  .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 3;
}

/* Style the dropdown button */
.dropbtn {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  color: #FFBF00;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Add hover effect and change color to green */
.dropbtn:hover {
  color: red; /* Change text color on hover */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content a {
  color: green;
}

